@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-800;
}

.cke_notifications_area {
  @apply hidden;
}

@keyframes slide-in-left {
  0% {
    @apply -translate-x-full
  }

  100% {
    @apply translate-x-0
  }
}

@keyframes slide-in-right {
  0% {
    @apply translate-x-full
  }

  100% {
    @apply translate-x-0
  }
}

@keyframes slide-in-top {
  0% {
    @apply -translate-y-full;
  }

  100% {
    @apply translate-y-0;
  }
}

@keyframes slide-in-bottom {
  0% {
    @apply opacity-0
  }

  100% {
    @apply opacity-100
  }
}

.toast-slide-left {
  animation: slide-in-left 0.5s ease-out;
}

.toast-slide-right {
  animation: slide-in-right 0.5s ease-out;
}

.toast-slide-top {
  animation: slide-in-top 0.5s ease-out;
}

.toast-slide-bottom {
  animation: slide-in-bottom 0.5s ease-out;
}